<div class="contact wrap-inner">
    <div class="container">
        <h2 class="title">Liên hệ với chúng tôi</h2>
        <div class="row">
            <form action="/action_page.php" class="col-12 col-sm-6 col-md-6 col-xl-6 col-lg-6 pl-5">
                <div class="form-group">
                    <input type="name" class="form-control" id="name" placeholder="Họ và tên">
                </div>
                <div class="form-group">
                    <input type="phone" class="form-control" id="phone" placeholder="Số điện thoại">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Địa chỉ email">
                </div>

                <button class="button"><a href="">Nhận Tư vấn ngay</a></button>
            </form>
            <div class="imformation col-12 col-sm-6 col-md-6 col-xl-6 col-lg-6 pl-5">
                <h5 class="inf-title">Thông tin liên hệ</h5>
                <i class="fas fa-map-marked-alt success"></i><span class="infor"> 98 Nguyễn Lương Bằng, Đà Nẵng</span>
                <br>
                <i class="fas fa-phone-volume success"></i><span class="infor"> 033 281 3077</span> <br>
                <i class="fas fa-envelope-open-text success"></i><span class="infor"> address@gmail.com</span><br>

                <span>Hoặc:
                    <div class="row">
                        <a href=""><img src="assets/img/iconmxh/fb.png" alt="" class="icon ml-3"></a>
                        <a href=""><img src="assets/img/iconmxh/in.png" alt="" class="icon"></a>
                        <a href=""><img src="assets/img/iconmxh/za.png" alt="" class="icon"></a>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="mb-3">
    <a href="#head" class="buttontop"><i class="fas fa-chevron-up"></i></i>
    </a>
</div>
<div class="footer"> <span>Copyright &#169; 2019 - Thiết kế và phát triển bởi loaloa.me</span>
</div>