<header id="header" class="wrap-inner">
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar">
                    <i class="fas fa-bars"></i>
                </button>
            <div class="collapse navbar-collapse " id="collapsibleNavbar">
                <ul class="navbar-nav nav-tabs ml-auto" role="tablist">
                    <li class="nav-item mr-4"><a class="nav-link current" href="#header">Home</a></li>
                    <li class="nav-item mr-4"><a class="nav-link" href="#section1">quy trình làm việc</a></li>
                    <li class="nav-item mr-4"><a class="nav-link" href="#section2">bảng giá</a></li>
                    <li class="nav-item mr-4"><a class="nav-link" href="#section3">các dự án</a></li>
                    <button class="button mr-4 bg-primary border-white">Liên Hệ Ngay</button>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <style>
            div {
                position: relative;
            }
        </style>
        <script>
            $('div{1:div|body}').scrollspy({
                target: '#navId'
            });
        </script>

        <div class="header-content">
            <div class="wap">
                <div class="row">
                    <div class="content-left col-12 col-sm-6 col-md-6 col-xl-6 col-lg-6 ">
                        <h3>Thiết kế website chuyên nghiệp
                        </h3>
                        <p class="introduce">Cung cấp dịch vụ thiết kế Website và các dịch vụ quảng bá doanh nghiệp giá rẻ với giao diện đẹp, phong cách thiết kế hiện đại, theo kịp xu hướng thế giới.</p>
                        <button class="button"><a href="">Nhận Tư vấn ngay</a></button><br>
                        <span class="contact">Liên hệ ngay: <a class="phone-number " href=""> 033 281 3077</a></span>
                    </div>
                    <div class="content-right col-12 col-sm-6 col-md-6 col-xl-6 col-lg-6 text-center">
                        <img src="/assets/img/bg-header.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>