<div class="process wrap-inner" id="section1">
    <div class="container">
        <h2 class="title">Quy trình làm việc chuyên nghiệp</h2>
        <div class="row">
            <div class="list-procedure item1 col-12 col-sm-4 col-md-4 col-xl-4 col-lg-4 ">
                <div class="circle">
                    <img class="img-item mx-auto" src="assets/img/process-layer1.png" alt="">
                </div>
                <h5 class="title mx-auto">Tìm hiểu yêu cầu</h5>
                <p class="procedure-content">Trong quá trình này, chúng tôi làm việc với bạn để tìm hiểu những yêu cầu về giao diện và chức năng chính của trang web.</p>
            </div>
            <div class="list-procedure item2 col-12 col-sm-4 col-md-4 col-xl-4 col-lg-4 ">
                <div class="circle">
                    <img class="img-item mx-auto" src="assets/img/process-layer2.png" alt="">
                </div>
                <h5 class="title mx-auto">Thiết kế giao diện</h5>
                <p class="procedure-content">Chúng tôi tạo ra thiết kế thông qua những gì thu được từ trước bằng cách sử dụng các xu hướng UI / UX tốt nhất.</p>
            </div>
            <div class="list-procedure item3 col-12 col-sm-4 col-md-4 col-xl-4 col-lg-4 ">
                <div class="circle">
                    <img class="img-item mx-auto" src="assets/img/process-layer3.png" alt="">
                </div>
                <h5 class="title mx-auto">Xây dựng trang web</h5>
                <p class="procedure-content">Chúng tôi bắt đầu lập trình trang web dựa trên bản thiết kế giao diện và hoàn thiện nó sau khi bạn hài lòng.</p>
            </div>
        </div>
    </div>
</div>