<div class="projects wrap-inner" id="section3">
    <div class="container">
        <h2 class="title text-white">Các dự án tham khảo</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 col-lg-4 special  ">
                <div class="_img">
                    <img src="project/blog.png" alt="" class=" layer" id="myImg">
                </div>
                <div class="project">
                    <a href="" class="viewers">Xem chi tiết</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 col-lg-4 special">
                <div class="_img">
                    <img src="project/freelancer.png" alt="" class=" layer" id="myImg">
                </div>
                <div class="project">
                    <a href="" class="viewers">Xem chi tiết</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 col-lg-4 special">
                <div class="_img">
                    <img src="project/gioithieuphanmem.png" alt="" class=" layer" id="myImg">
                </div>
                <div class="project">
                    <a href="" class="viewers">Xem chi tiết</a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-xl-3 col-lg-4 special">
                <div class="_img">
                    <img src="project/landingpage.png" alt="" class=" layer" id="myImg">
                </div>
                <div class="project">
                    <a href="" class="viewers">Xem chi tiết</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 col-lg-4 special">
                <div class="_img">
                    <img src="project/nhomnhac.png" alt="" class=" layer" id="myImg">
                </div>
                <div class="project">
                    <a href="" class="viewers">Xem chi tiết</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 col-lg-4 special">
                <div class="_img">
                    <img src="project/quangcaophanmem.png" alt="" class=" layer" id="myImg">
                </div>
                <div class="project">
                    <a href="" class="viewers">Xem chi tiết</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 col-lg-4 special">
                <div class="_img">
                    <img src="project/thuonghieucanhan.png" alt="" class=" layer" id="myImg">
                </div>
                <div class="project">
                    <a href="" class="viewers">Xem chi tiết</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 col-lg-4 special">
                <div class="_img">
                    <img src="project/thuongmaidientu.png" alt="" class=" layer" id="myImg">
                </div>
                <div class="project">
                    <a href="" class="viewers">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>