<div class="service wrap-inner" id="section2">
    <div class="container">
        <h2 class="title">
            Các dịch vụ
        </h2>
        <div class="row">
            <div class="ser-content col-12 col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="price-border">
                    <h3 class="price text-center">Gói 1.000.000</h3>
                    <hr>
                    <div class="element">
                        <i class="fas fa-check-circle success"></i><span> Tin tức</span><br>
                        <i class="fas fa-check-circle "></i><span> Sản phẩm</span><br>
                        <i class="fas fa-check-circle "></i><span> Thanh toán</span>
                        <hr>
                    </div>
                    <p class="price-content">Gói 1.000.000 cung cấp những dịch vụ cơ bản nhất cho trang web của doanh nghiệp bạn</p>
                </div>
            </div>
            <div class="ser-content col-12 col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="price-border">
                    <h3 class="price text-center">Gói 2.000.000</h3>
                    <hr>
                    <div class="element">
                        <i class="fas fa-check-circle success"></i><span> Tin tức</span><br>
                        <i class="fas fa-check-circle success"></i><span> Sản phẩm</span><br>
                        <i class="fas fa-check-circle "></i><span> Thanh toán</span>
                        <hr>
                    </div>
                    <p class="price-content">Gói 2.000.000 cung cấp những dịch vụ cần thiết và cho phép hiển thị các sản phẩm chiến lược của doanh nghiệp bạn</p>
                </div>
            </div>
            <div class="ser-content col-12 col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="price-border">
                    <h3 class="price text-center">Gói 3.000.000</h3>
                    <hr>
                    <div class="element">
                        <i class="fas fa-check-circle success"></i><span> Tin tức</span><br>
                        <i class="fas fa-check-circle success"></i><span> Sản phẩm</span><br>
                        <i class="fas fa-check-circle success"></i><span> Thanh toán</span>
                        <hr>
                    </div>
                    <p class="price-content">Gói 3.000.000 cung cấp tất cả những tính năng giới thiệu, thanh toán, mua bán sản phầm. Là gói cao cấp nhất cho trang web của bạn</p>
                </div>
            </div>
        </div>
    </div>
</div>