<section>
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container">
      <a class="navbar-brand text-uppercase text-danger" href="/"
        ><img
          src="/assets/img/73188838_2367988273517916_6391647450892861440_n.jpg"
          style="width: 40px;height: 40px;"
        />&nbsp;Quảng Đà Camera</a
      >
      <div class="row">
        <div class="col-6 col-sm-4">
          <h6 class="text-danger">
            <i class="fa fa-map-marker mr-2"></i>Địa chỉ 1
          </h6>
          <hr />
          <p data-aos="fade-down">Bình Đào, Thăng Bình, Quảng Nam<br /></p>
        </div>
        <div class="col-6 col-sm-4">
          <h6 class="text-danger">
            <i class="fa fa-map-marker mr-2"></i>Địa chỉ 2
          </h6>
          <hr />
          <p data-aos="fade-down" data-aos-delay="100">
            Thuận An 4, Thanh Khê, Tp. Đà Nẵng<br />
          </p>
        </div>
        <div class="col-12 col-sm-4">
          <h6 class="text-danger">
            <i class="fa fa-phone mr-2"></i>Điện thoại
          </h6>
          <hr />
          <p data-aos="fade-down" data-aos-delay="200">
            0935.584.569<br />0866.453.580<br />
          </p>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean">
    <div class="container">
      <a class="navbar-brand" data-bs-hover-animate="pulse" href="/"
        >Tư vấn - Lắp đặt</a
      ><button
        data-toggle="collapse"
        class="navbar-toggler"
        data-target="#navcol-1"
      >
        <span class="sr-only">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="/">Trang chủ</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="dropdown-toggle nav-link"
              data-toggle="dropdown"
              aria-expanded="false"
              href="/catalog"
              >Sản phẩm</a
            >
            <div class="dropdown-menu" role="menu">
              <% if (data.allCategories) data.allCategories.forEach(category => { %>
              <a
                href="/catalog?name=<%=category.name%>"
                class="dropdown-item"
                role="presentation"
                href="#"
                ><%=category.name%></a
              >
              <% })%>
            </div>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="/news">Dự Án</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
