<!DOCTYPE html>
<html lang="vi">
  <head>
    <% include ../partials/head %>
    <title>CameraQuangDa</title>
  </head>

  <body>
    <% include ../partials/header %>
    <section>
      <div class="row">
        <div
          class="col-12 col-sm-5 col-lg-3 d-flex justify-content-center align-items-center justify-content-lg-center"
        >
          <div class="w-100">
            <div class="row mb-3">
              <div
                class="col-6 d-flex justify-content-center align-items-center bg-dark text-white p-2"
                data-aos="fade-right"
              >
                <h6>Chất Lượng</h6>
              </div>
              <div
                class="col-6 d-flex d-md-flex d-lg-flex justify-content-center align-items-center align-items-md-center align-items-lg-center bg-danger text-white p-2"
                data-aos="fade-left"
              >
                <h6>Uy Tín</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <img class="w-100" src="/img/LBV8721AB-L1.png" />
        </div>
      </div>
    </section>
   <% include ../partials/posts %>

  
  </body>
</html>
