<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="wraper">
        <% include ../partials/navbar %>
            <% include ../partials/process.ejs %>
                <% include ../partials/service.ejs %>
                    <% include ../partials/project.ejs %>
                        <footer>
                            <% include ../partials/contact.ejs %>
                        </footer>
    </div>
</body>

</html