<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#">Loa Loa CMS</a><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Trang chủ</a></li>
            </ul><span class="navbar-text actions"> <a class="login" href="#">Đăng xuất</a><a
                    class="btn btn-light action-button" role="button" href="#">loaloamedia</a></span>
        </div>
    </div>
</nav>