<h5>Sản phẩm</h5>
<ul class="list-unstyled">
    <li><a href="/ad/add-product"><i class="fa fa-plus-square-o mr-2"></i>Thêm</a></li>
    <li><a href="/ad/edit-product"><i class="fa fa-edit mr-2"></i>Sửa</a></li>
    <li><a href="/ad/remove-product"><i class="fa fa-trash-o mr-2"></i>Xóa</a></li>
    <li><a href="/ad/list-product"><i class="fa fa-list-alt mr-2"></i>Danh sách</a></li>
</ul>
<h5>Tin tức</h5>
<ul class="list-unstyled">
    <li><a href="add-news.html"><i class="fa fa-plus-square-o mr-2"></i>Thêm</a></li>
    <li><a href="#"><i class="fa fa-edit mr-2"></i>Sửa</a></li>
    <li><a href="#"><i class="fa fa-trash-o mr-2"></i>Xóa</a></li>
    <li><a href="#"><i class="fa fa-list-alt mr-2"></i>Danh sách</a></li>
</ul>
<h5>Đơn hàng</h5>
<ul class="list-unstyled">
    <li><a href="#"><i class="fa fa-check-square-o mr-2"></i>Mới<span class="badge badge-warning ml-2">42</span></a>
    </li>
    <li><a href="#"><i class="fa fa-list-alt mr-2"></i>Danh sách</a></li>
</ul>
<h5>Hình ảnh</h5>
<ul class="list-unstyled">
    <li><a href="#"><i class="fa fa-upload mr-2"></i>Tải lên</a></li>
    <li><a href="#"><i class="fa fa-trash-o mr-2"></i>Xóa</a></li>
</ul>