<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>CameraQuangDa</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!--    <link rel="stylesheet" href="/fonts/font-awesome.min.css" /> -->
    <link rel="stylesheet" href="/css/styles.min.css" />
  </head>

  <body>
    <section>
      <nav class="navbar navbar-light navbar-expand-md">
        <div class="container">
          <a class="navbar-brand text-uppercase text-danger" href="#"
            ><img
              src="/img/73188838_2367988273517916_6391647450892861440_n.jpg"
              style="height: 40px;width: 40px;"
            />&nbsp;Quảng Đà Camera</a
          >
          <div class="row">
            <div class="col-6 col-sm-4">
              <h6 class="text-danger">
                <i class="fa fa-map-marker mr-2"></i>Địa chỉ 1
              </h6>
              <hr />
              <p data-aos="fade-down">Bình Đào, Thăng Bình, Quảng Nam<br /></p>
            </div>
            <div class="col-6 col-sm-4">
              <h6 class="text-danger">
                <i class="fa fa-map-marker mr-2"></i>Địa chỉ 2
              </h6>
              <hr />
              <p data-aos="fade-down" data-aos-delay="100">
                Thuận An 4, Thanh Khê, Tp. Đà Nẵng<br />
              </p>
            </div>
            <div class="col-12 col-sm-4">
              <h6 class="text-danger">
                <i class="fa fa-phone mr-2"></i>Điện thoại
              </h6>
              <hr />
              <p data-aos="fade-down" data-aos-delay="200">
                0935.584.569<br />0866.453.580<br />
              </p>
            </div>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean">
        <div class="container">
          <a class="navbar-brand" data-bs-hover-animate="pulse" href="#"
            >Tư vấn - Thiết kế - Lắp đặt</a
          ><button
            data-toggle="collapse"
            class="navbar-toggler"
            data-target="#navcol-1"
          >
            <span class="sr-only">Toggle navigation</span
            ><span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Sản Phẩm</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Dự Án</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <section>
      <div class="row">
        <div
          class="col-12 col-sm-5 col-lg-3 d-flex justify-content-center align-items-center justify-content-lg-center"
        >
          <div class="w-100">
            <div class="row mb-3">
              <div
                class="col-6 d-flex justify-content-center align-items-center bg-dark text-white p-2"
                data-aos="fade-right"
              >
                <h6>Chất Lượng</h6>
              </div>
              <div
                class="col-6 d-flex d-md-flex d-lg-flex justify-content-center align-items-center align-items-md-center align-items-lg-center bg-danger text-white p-2"
                data-aos="fade-left"
              >
                <h6>Uy Tín</h6>
              </div>
            </div>
            <h3 class="text-uppercase text-danger ml-3" data-aos="fade-right">Giá rẻ</h3>
            <h3
              class="text-uppercase text-danger ml-3"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              Lắp đặt nhanh
            </h3>
            <h3
              class="text-uppercase text-danger ml-3"
              data-aos="fade-right"
              data-aos-delay="200"
            >
              Hỗ trợ tức thời
            </h3>
          </div>
        </div>
        <div class="col">
          <img class="w-100" src="/img/LBV8721AB-L1.png" />
        </div>
      </div>
    </section>
    <div class="projects-horizontal">
      <div class="container">
        <div class="intro">
          <h2 class="text-center">Dự Án Đã Làm</h2>
          <p class="text-center">
            Nunc luctus in metus eget fringilla. Aliquam sed justo ligula.
            Vestibulum nibh erat, pellentesque ut laoreet vitae.
          </p>
        </div>
        <div class="row projects">
          <div class="col-sm-6 item">
            <div class="row">
              <div class="col-md-12 col-lg-5">
                <a href="#"
                  ><img
                    class="img-fluid"
                    src="/img/75328608_2384575715192505_1597144379984707584_n.jpg"
                /></a>
              </div>
              <div class="col">
                <h3 class="name">Bộ 3 camera KBONE<br /></h3>
                <p class="description">
                  Lên hình sắc nét - khách hàng hài lòng. Bộ 3 em camera KBONE
                  cho quán nhậu 173 Nguyễn Tất Thành - Hội An<br />
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 item">
            <div class="row">
              <div class="col-md-12 col-lg-5">
                <a href="#"
                  ><img
                    class="img-fluid"
                    src="/img/76999024_2384507688532641_8334046698271670272_n.jpg"
                /></a>
              </div>
              <div class="col">
                <h3 class="name">Hệ thống camera hikvision 2.0Mp<br /></h3>
                <p class="description">
                  Công trình camera quan sát nhà cửa.<br />tạp hoá cho khách
                  hàng.<br />
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 item">
            <div class="row">
              <div class="col-md-12 col-lg-5">
                <a href="#"
                  ><img
                    class="img-fluid"
                    src="/img/75424556_2383596571957086_8471650552718032896_n.jpg"
                /></a>
              </div>
              <div class="col">
                <h3 class="name">Camera quan sát</h3>
                <p class="description">
                  Ngày đẹp lên sóng vài bộ camera.<br />Công trình camera quan
                  sát cho khách hàng<br />
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 item">
            <div class="row">
              <div class="col-md-12 col-lg-5">
                <a href="#"
                  ><img
                    class="img-fluid"
                    src="/img/77100009_2378482459135164_5782384448506953728_n.jpg"
                /></a>
              </div>
              <div class="col">
                <h3 class="name">
                  Công trình camera , Mạng Lan, Wifi , Truyền hình .<br />
                </h3>
                <p class="description">
                  Lên hình bộ camera sau những ngày Mưa Bão. Công trình camera ,
                  Mạng Lan, Wifi , Truyền hình .<br />An Linh Villa - Duy Hải -
                  Duy Xuyên.<br />
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 item">
            <div class="row">
              <div class="col-md-12 col-lg-5">
                <a href="#"
                  ><img
                    class="img-fluid"
                    src="/img/75418259_2372036103113133_4029456686958772224_o.jpg"
                /></a>
              </div>
              <div class="col">
                <h3 class="name">Camera quan sát</h3>
                <p class="description">
                  Lên hình camera cho khách hàng!!<br />Camera wifi giá rẻ cho
                  mọi gia đình<br />
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 item">
            <div class="row">
              <div class="col-md-12 col-lg-5">
                <a href="#"
                  ><img
                    class="img-fluid"
                    src="/img/74172450_2369599133356830_5171824915753467904_o.jpg"
                /></a>
              </div>
              <div class="col">
                <h3 class="name">Camera quan sát</h3>
                <p class="description">
                  Ngày đẹp lên sóng vài bộ camera.<br />Công trình camera quan
                  sát cho khách hàng<br />
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 item">
            <div class="row">
              <div class="col-md-12 col-lg-5">
                <a href="#"
                  ><img
                    class="img-fluid"
                    src="/img/76686442_2383325421984201_5125766863292203008_n.jpg"
                /></a>
              </div>
              <div class="col">
                <h3 class="name">Camera gia đình</h3>
                <p class="description">
                  Lên hình camera cho khách hàng!!<br />Camera giá rẻ cho mọi
                  gia đình.<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="projects-clean"></div>
    <div class="footer-basic">
      <footer>
        <p class="copyright">Quảng Đà Camera © 2019</p>
      </footer>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/script.min.js"></script>
  </body>
</html>
