<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="container">
        <h2>Không tìm thấy trang...</h2>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>