<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>
    <div class="container">
        <div class="row">
            <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-2"><a href="#"></a>
                <% include partials/side %>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>