<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>
    <div class="container">
        <div class="row">
            <div class="col-5 col-sm-3 col-md-3 col-lg-2 col-xl-2"><a href="#"></a>
                <% include partials/side %>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <h5>Phân loại</h5>
                        <ul class="list-unstyled">
                            <li><a href="add-product.html">Tên loại</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-4 col-md-5 col-lg-3 col-xl-3"><img class="w-100"
                                    src="/img/bg-header.png"></div>
                            <div class="col">
                                <h5>Heading</h5>
                                <p>Paragraph</p><a class="btn btn-primary text-white" role="button">Sửa</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>