<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>
    <div class="container">
        <div class="row">
            <div class="col-5 col-sm-3 col-md-3 col-lg-2 col-xl-2"><a href="#"></a>
                <% include partials/side %>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <h5>Danh mục</h5>
                        <ul class="list-unstyled">
                            <li><a href="add-product.html">Tên danh mục</a></li>
                        </ul>
                        <h5>Thương hiệu</h5>
                        <ul class="list-unstyled">
                            <li><a href="add-product.html">Tên thương hiệu</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-2">
                                <div class="card"><img class="card-img-top w-100 d-block"
                                        src="/img/bg-header.png">
                                    <div class="card-body p-2">
                                        <p class="card-text m-0">Yến hủ tự chưng 2.5 gam / hộp</p>
                                        <p class="text-right card-text m-0 text-secondary">120.000</p>
                                        <p class="text-right card-text mb-2 text-secondary">100.000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-2">
                                <div class="card"><img class="card-img-top w-100 d-block"
                                        src="/img/bg-header.png">
                                    <div class="card-body p-2">
                                        <p class="card-text m-0">Yến hủ tự chưng 2.5 gam / hộp</p>
                                        <p class="text-right card-text m-0 text-secondary">120.000</p>
                                        <p class="text-right card-text mb-2 text-secondary">100.000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 px-2">
                                <div class="card"><img class="card-img-top w-100 d-block"
                                        src="/img/bg-header.png">
                                    <div class="card-body p-2">
                                        <p class="card-text m-0">Yến hủ tự chưng 2.5 gam / hộp</p>
                                        <p class="text-right card-text m-0 text-secondary">120.000</p>
                                        <p class="text-right card-text mb-2 text-secondary">100.000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>