<!DOCTYPE html>
<html>
  <head>
    <title>Đăng Nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link href="/assets/css/login.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="login-box">
        <h4 class="text-center">Xin chào!</h4>
        <hr />

        <form method="post" action="/ad/login">
          <input
            class="input"
            name="user"
            type="text"
            placeholder="Tài Khoản"
          />
          <input
            class="input"
            name="password"
            type="password"
            placeholder="Mật Khẩu"
          />
          <button type="submit" class="btn btn-sm btn-login">Đăng Nhập</button>
          <hr />

          <!-- <a href="/messenger/signup">Đăng ký</a> -->

          <%if (message && message[0]) {%>
          <p><%=message[0]%></p>
          <%}%>
        </form>
      </div>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <!-- <script src="/assets/js/login.js"></script> -->
  </body>
</html>
