<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CameraQuangDa</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
</head>

<body>
    <section>
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container"><a class="navbar-brand text-uppercase text-danger" href="index.html"><img src="assets/img/73188838_2367988273517916_6391647450892861440_n.jpg" style="width: 40px;height: 40px;">&nbsp;Quảng Đà Camera</a>
                <div class="row">
                    <div class="col-6 col-sm-4">
                        <h6 class="text-danger"><i class="fa fa-map-marker mr-2"></i>Địa chỉ 1</h6>
                        <hr>
                        <p data-aos="fade-down">Bình Đào, Thăng Bình, Quảng Nam<br></p>
                    </div>
                    <div class="col-6 col-sm-4">
                        <h6 class="text-danger"><i class="fa fa-map-marker mr-2"></i>Địa chỉ 2</h6>
                        <hr>
                        <p data-aos="fade-down" data-aos-delay="100">Thuận An 4, Thanh Khê, Tp. Đà Nẵng<br></p>
                    </div>
                    <div class="col-12 col-sm-4">
                        <h6 class="text-danger"><i class="fa fa-phone mr-2"></i>Điện thoại</h6>
                        <hr>
                        <p data-aos="fade-down" data-aos-delay="200">0935.584.569<br>0866.453.580<br></p>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean">
            <div class="container"><a class="navbar-brand" data-bs-hover-animate="pulse" href="index.html">Tư vấn - Lắp đặt</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Trang chủ</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="catalog.html">Sản phẩm</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="news.html">Dự Án</a></li>
                    </ul>
            </div>
            </div>
        </nav>
    </section>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">Your Wonderful Article Title</h1><img class="img-fluid" src="assets/img/desk.jpg"></div>
                    <div class="text">
                        <p>Sed lobortis mi. Suspendisse vel placerat ligula. <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in
                            justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>